<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/console.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container">
      <%- include('sidebar') %>
      <div class="main-content">
        <h1>Dashboard</h1>
        <div class="computer-cards">
          <% for(let i = 0; i < clients.length; i++){ %>
          <div class="computer-card" clientname="<%= clients[i].name%>">
            <div class="info">
              <i
                class="fas fa-circle"
                title="Status Online &#10; ip: <%= clients[i].ip%> &#10; wersja: <%= clients[i].version%>"
                style="color: green"
              ></i>
              <a><%= clients[i].name%></a>

              <i class="fas fa-hdd"></i> 64/500 GB
              <i class="fab fa-windows"></i> Windows 10 64bit
            </div>
            <div class="options">
              <button
                data-status="true"
                class="shutdown-button"
                style="color: red"
              >
                <i class="fas fa-power-off" id="<%= clients[i].id%>"></i>Wylacz
              </button>
              <button
                class="console-button"              >
                <i class="fas fa-terminal"></i>Konsola
              </button>
              <button class="log-button" id="<%= clients[i].id%>">
                <i style="color: gold" class="fas fa-file"></i>Logi
              </button>
            </div>
            <div id="<%= clients[i].id%>" class="console" style="display: none">
              <div id="header">
                <span>$></span>
                <input type="text" id="input" />
              </div>
              <div id="output"></div>
            </div>
          </div>
          <% } %>

          <!-- Offline Clients -->
          <% for(let i = 0; i < offlineclients.length; i++){ %>

          <div class="computer-card" clientname="<%= offlineclients[i]%>">
            <div class="info">
              <i class="fas fa-circle" style="color: gray"></i>
              <a><%= offlineclients[i]%></a>
            </div>
            
            <div class="options">
              <button
              data-status="true"
              class="delete-button"
              style="color: red"
            >
              <i class="fas fa-trash"></i>Usun
            </button>
              <button class="log-button">
                <i style="color: gold" class="fas fa-file"></i>Logi
              </button>

            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <script src="/js/dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="/js/console.js"></script>

    <script>
      //let socket = io();
      const shutdownbuttons = document.querySelectorAll(".shutdown-button");
      const logbuttons = document.querySelectorAll(".log-button");

      shutdownbuttons.forEach((button) => {
        button.addEventListener("click", (e) => {
          socket.emit("command", {
            id: e.target.id,
            cmd: "shutdown /i /t 120",
          });
        });
      });
      logbuttons.forEach((button) => {
        button.addEventListener("click", async (e) => {
          const clientname = button.closest(".computer-card").getAttribute("clientname"); //get button computer card

          window.location.href = `/log?clientname=${clientname}`;
        });
      });
    </script>
  </body>
</html>
