<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" type="text/css" href="/css/vnc.css" />
    <link rel="stylesheet" type="text/css" href="/css/vncconsole.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <%- include('./models/scripts') %>

    <title><%= clientname %></title>
  </head>
  <body>
    <div id="fps-counter" style="display: none">0 FPS</div>
    <div class="view">
      <img alt="streaming" class="c" id="<%= clientid %>"/>

      <!-- <img
        id="liveCam"
        src="https://media.tenor.com/UnFx-k_lSckAAAAM/amalie-steiness.gif"
      /> -->
      <!-- <canvas class="c" id="<%= clientid %>"></canvas> -->
      <%- include('./models/console') %>
      <div class="options-bar">
        <div class="icon hide" id="signal">
          <i style="color: red" class="fa fa-signal"></i>
        </div>
        <div class="icon hide" id="close">
          <i style="color: red" class="fa fa-times"></i>
        </div>
        <div class="icon hide" id="mouse">
          <i style="color: white" class="fa fa-mouse-pointer"></i>
        </div>

        <div class="icon hide" id="console">
          <i style="color: white" class="fa fa-terminal"></i>
        </div>
        <div class="icon hide" id="maximize">
          <i style="color: white" class="fa fa-window-maximize"></i>
        </div>
        <div class="icon" id="button-for-hiding-elements">
          <i style="color: white" class="fa fa-ellipsis-v"></i>
        </div>
        <div class="drag hide" >
          <svg style="color: gray" width="40" height="40" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"> <circle cx="4.5" cy="2.5" r=".6" fill="currentColor" /> <circle cx="4.5" cy="4.5" r=".6" fill="currentColor" /> <circle cx="4.5" cy="6.499" r=".6" fill="currentColor" /> <circle cx="4.5" cy="8.499" r=".6" fill="currentColor" /> <circle cx="4.5" cy="10.498" r=".6" fill="currentColor" /> <circle cx="4.5" cy="12.498" r=".6" fill="currentColor" /> <circle cx="6.5" cy="2.5" r=".6" fill="currentColor" /> <circle cx="6.5" cy="4.5" r=".6" fill="currentColor" /> <circle cx="6.5" cy="6.499" r=".6" fill="currentColor" /> <circle cx="6.5" cy="8.499" r=".6" fill="currentColor" /> <circle cx="6.5" cy="10.498" r=".6" fill="currentColor" /> <circle cx="6.5" cy="12.498" r=".6" fill="currentColor" /> <circle cx="8.499" cy="2.5" r=".6" fill="currentColor" /> <circle cx="8.499" cy="4.5" r=".6" fill="currentColor" /> <circle cx="8.499" cy="6.499" r=".6" fill="currentColor" /> <circle cx="8.499" cy="8.499" r=".6" fill="currentColor" /> <circle cx="8.499" cy="10.498" r=".6" fill="currentColor" /> <circle cx="8.499" cy="12.498" r=".6" fill="currentColor" /> <circle cx="10.499" cy="2.5" r=".6" fill="currentColor" /> <circle cx="10.499" cy="4.5" r=".6" fill="currentColor" /> <circle cx="10.499" cy="6.499" r=".6" fill="currentColor" /> <circle cx="10.499" cy="8.499" r=".6" fill="currentColor" /> <circle cx="10.499" cy="10.498" r=".6" fill="currentColor" /> <circle cx="10.499" cy="12.498" r=".6" fill="currentColor" /> </svg>
        </div>
      </div>
    </div>
    <script>
      var width = '<%= width%>';
      var height = '<%= height%>';

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="/js/socketInit.js"></script>
    <script src="/js/vncclient.js"></script>

  </body>
</html>
