<div class="computer-card" clientname="<%= clientname%>" id="<%= id%>" >
  <div class="info" onclick="showoptions(this)">
    <%if(version != latestversion){%>
    <i
      class="fas fa-circle"
      title="Status Online &#10; ip: <%= ip%> &#10; wersja: <%= version%>"
      style="color: blue"
    ></i>
    <%} else {%>
    <i
      class="fas fa-circle"
      title="Status Online &#10; ip: <%= ip%> &#10; wersja: <%= version%>"
      style="color: green"
    ></i>
    <%}%>
    <a><input type="text" name="" id="computer-name" value="<%= clientname%>"></input></a>
    <div class="resources">
      <i class="fas fa-memory"></i> <%= ram%> <i class="fab fa-windows"></i> <%= system%>
    </div>
  </div>
  <div class="options">
    <button class="shutdown-button" style="color: red" onclick="shutdown(this)">
      <i class="fas fa-power-off"></i><snap>Wylacz</snap>
    </button>
    <button class="console-button" onclick="showconsole(this)">
      <i class="fas fa-terminal"></i><snap>Konsola</snap>
    </button>
    <button class="log-button" onclick="window.location.href = `/logs/<%= clientname%>`">
      <i style="color: gold" class="fas fa-file"></i><snap>Logi</snap>
    </button>
    <button class="vnc-button" onclick="window.location.href = `/vnc/<%= clientname%>/<%= id%>`">
      <i style="color: green" class="fas fa-desktop"></i><snap>VNC</snap>
    </button>
    <% if(version != latestversion){%>
    <button class="update-button" onclick="update(this)">
      <i style="color: rgb(31, 135, 169)" class="fas fa-download"></i><snap>Update</snap>
    </button>
    <%}%>
  </div>
  <%- include('./console') %>
  <!-- <div class="console" style="display: none">
    <div id="header">
      <span>$></span>
      <input type="text" id="input" />
    </div>
    <div id="output"></div>
  </div> -->
</div>
