<div class="computer-card" clientname="<%= clientname%>" id="<%= id%>">
  <div class="info">
    <i
      class="fas fa-circle"
      title="Status Online &#10; ip: <%= ip%> &#10; wersja: <%= version%>"
      style="color: green"
    ></i>
    <a><%= clientname%></a>

    <i class="fas fa-hdd"></i> 64/500 GB <i class="fab fa-windows"></i> <%= system%>
  </div>
  <div class="options">
    <button class="shutdown-button" style="color: red">
      <i class="fas fa-power-off"></i><snap>Wylacz</snap>
    </button>
    <button class="console-button">
      <i class="fas fa-terminal"></i><snap>Konsola</snap>
    </button>
    <button class="log-button">
      <i style="color: gold" class="fas fa-file"></i><snap>Logi</snap>
    </button>
    <button class="screenshot-button">
      <i style="color: green" class="fas fa-camera"></i><snap>SS</snap>
    </button>
    <button class="vnc-button">
      <i style="color: green" class="fas fa-desktop"></i><snap>VNC</snap>
    </button>
  </div>
  <div class="console" style="display: none">
    <div id="header">
      <span>$></span>
      <input type="text" id="input" />
    </div>
    <div id="output"></div>
  </div>
</div>
