<div class="computer-card" filename="<%= filename%>">
    <div class="info">
      <a><%= filename%></a>
      <a><%= size%></a>

    </div>
    
    <div class="options">
      <button
      class="delete-button"
      style="color: red"
      onclick="remove('<%= filename%>')"
    >
      <i class="fas fa-trash"></i><snap>Usuń</snap>
    </button>
      <button class="download-button" onclick="window.location.href=`${window.location}/<%=filename%>`">
        <i style="color: gold" class="fas fa-download"></i><snap>Pobierz</snap>
      </button>
      <% if(view == true){ %> 

      <button class="view-button" onclick="window.location.href=`${window.location}/<%=filename%>`">
        <i style="color: gold" class="fas fa-file"></i><snap>Zobacz</snap>
      </button>
   
      <%}%>

    </div>
  </div>